#h1Title{
    color:cyan;
}

#nameInput {
    font-size: 1.45rem;
}

#applyBtn{
    font-size: 1.15rem;
    padding: .5em 1em;
    background-color: yellowgreen;
    border: none;
    border-radius: 4px;
}