    /*@media queries for navbar menu/mobile navbar*/
@media screen and (min-width: 320px) {
    ul.navbar-mobile-nav, li, a{
        font-size: 1rem;
    }

    h1{
        margin: 0;
    }
    h1 a{
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 480px) {
    ul.navbar-mobile-nav{
        flex-direction: row;
    }
}

@media screen and (min-width: 600px) {
    div.div-kana-section{
        flex-direction: row;
    }

    div.div-kana-section a {
        width: 100%;
        font-size: 1.75rem;
    }
    /* form practice */
    form.form-container{
        width: 60%;
    }
}

@media screen and (min-width: 801px) {

    h3.about-h3{
        width: 80%;
    }

    /* form practice */
    form.form-container{
        width: 50%;
    }
    
}

@media screen and (max-width: 1025px){
    div.navbar-mobile{
        display: flex;
    }

    h3.about-h3{
        width: 60%;
    }

}

@media screen and (min-width: 1025px) {
    ul.navbar-nav{
        display: flex;
    }

    ul.navbar-mobile-nav{
        display: none;
    }
    button.navbar-mobile-button{
        display: none;
    }

    div.div-home-concepts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.div-home-concept-description{
        display: flex;
        justify-content: center;
    }
    div.div-home-concept-description p{
        width: 80%;
    }

    /* form practice */
    form.form-container{
        width: 36%;
    }

}

@media screen and (min-width: 1281px) {
    
}