<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/hiragana/hiragana.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/screenQueries.css">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    <title>Hiragana</title>
</head>
<body>
  <!--bar-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1><a class="navbar-brand" href="./home.html">Guess The Kana</a></h1>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./hiragana.html">Hiragana</a></li>
        <li><a href="./katakana.html">Katakana</a></li>
        <li><a href="./about.html">About</a></li>
      </ul>

      <button id="navbar-mobile-button" class="navbar-mobile-button" onclick="navMobileMenuButton()">X</button>
    </div>

    <div id="navbar-mobile" class="navbar-mobile">
      <ul class="navbar-mobile-nav">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./hiragana.html">Hiragana</a></li>
        <li><a href="./katakana.html">Katakana</a></li>
        <li><a href="./about.html">About</a></li>
      </ul>
    </div>
  </nav>

  <h2 style="text-align: center;">Hiragana | ひらがな</h2>

  <main class="main-container" id="main-container">
    <button class="hiraganaPracticeBtn" onclick="openForm()">Practice</button>

    <table class="tableChart">
      <tr>
        <th></th>
        <th>A</th>
        <th>I</th>
        <th>E</th>
        <th>U</th>
        <th>O</th>  
      </tr>
      <!--vocals-->
      <tr class="tableRowChart tableRowChart-vocals">
        <td></td>
        <td>あ</td>
        <td>い</td>
        <td>う</td>
        <td>え</td>
        <td>お</td>
      </tr>
      <!--k-->
      <tr class="tableRowChart tableRowChart-k">
        <td class="tableTd-section">K</td>
        <td>か</td>
        <td>き</td>
        <td>く</td>
        <td>け</td>
        <td>こ</td>
      </tr>
      <!--s-->
      <tr class="tableRowChart tableRowChart-s">
        <td class="tableTd-section">S</td>
        <td>さ</td>
        <td>し</td>
        <td>す</td>
        <td>せ</td>
        <td>そ</td>
      </tr>
      <!--t-->
      <tr class="tableRowChart tableRowChart-t">
        <td class="tableTd-section">T</td>
        <td>た</td>
        <td>ち</td>
        <td>つ</td>
        <td>て</td>
        <td>と</td>
      </tr>
      <!--n-->
      <tr class="tableRowChart tableRowChart-n">
        <td class="tableTd-section">N</td>
        <td>な</td>
        <td>に</td>
        <td>ぬ</td>
        <td>ね</td>
        <td>の</td>
      </tr>
      <!--h-->
      <tr class="tableRowChart tableRowChart-h">
        <td class="tableTd-section">H</td>
        <td>は</td>
        <td>ひ</td>
        <td>ふ</td>
        <td>へ</td>
        <td>ほ</td>
      </tr>
      <!--m-->
      <tr class="tableRowChart tableRowChart-m">
        <td class="tableTd-section">M</td>
        <td>ま</td>
        <td>み</td>
        <td>む</td>
        <td>め</td>
        <td>も</td>
      </tr>
      <!--y-->
      <tr class="tableRowChart tableRowChart-y">
        <td class="tableTd-section">Y</td>
        <td>や</td>
        <td></td>
        <td>ゆ</td>
        <td></td>
        <td>よ</td>
      </tr>
      <!--r-->
      <tr class="tableRowChart tableRowChart-r">
        <td class="tableTd-section">R</td>
        <td>ら</td>
        <td>り</td>
        <td>る</td>
        <td>れ</td>
        <td>ろ</td>
      </tr>
      <!--w-->
      <tr class="tableRowChart tableRowChart-w">
        <td class="tableTd-section">W</td>
        <td>わ</td>
        <td></td>
        <td></td>
        <td></td>
        <td>を</td>
      </tr>
      <!--n-->
      <tr class="tableRowChart tableRowChart-nn">
        <td class="tableTd-section">N</td>
        <td>ん</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </main>

  <!-- FORM hiragana -->
  <div id="form-bg" class="form-bg">
    <form class="form-container" action="">
      <h1 style="text-align: center; color: white;">ひらがな</h1>

      <div class="playground">
        <div class="form-chart">
          <p class="p-hiraganaToGuess" id="hiraganaToGuess">-</p>
        </div>

        <div class="form-options" id="form-options">
          <!-- <label for="option1" onclick="optionSelected()" class="option option-1"></label>
          <input type="radio" name="option" class="options" id="option1" value="option1">
          
          <label for="option2" onclick="optionSelected()" class="option option-2"></label>
          <input type="radio" name="option" class="options" id="option2" value="option2">
        
          <label for="option3" onclick="optionSelected()" class="option option-3"></label>
          <input type="radio" name="option" class="options" id="option3" value="option3"> -->
            <input type="button" value="" class="options" id="option1"  onclick="optionSelected(this.id)">
            <input type="button" value="" class="options" id="option2"  onclick="optionSelected(this.id)">
            <input type="button" value="" class="options" id="option3"  onclick="optionSelected(this.id)">
        
        </div>

      </div>
      
      <div class="div-form-buttons">
        <button type="button" onclick="confirmGuess()">Confirm</button>
        <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
      </div>
    </form>
  </div>

  <!--FOOTER-->
  <footer id="footer" class="footer">
    <div class="footer-container">
      <div class="footer-details">
        <p>GuessTheKana by <a href="https://www.linkedin.com/in/davidcinco/">David Cinco</a></p>
        <div class="footer-details-find">
          <p>Find me</p>
          <div class="footer-details-link">
            <a href="https://www.linkedin.com/in/davidcinco/">
              <img src="../img/LinkedIn_icon.svg.png" alt="">
            </a>
            <a href="https://github.com/DavidCinco">
              <img src="../img/github_icon.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="../js/navbar.js"></script>
  <script type="text/javascript" src="../js/hiragana/hiragana.js"></script>
</body>
</html>