<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/home/home.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/screenQueries.css">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Guess The Kana - Home</title>
</head>
<body>
    <!--bar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1><a class="navbar-brand" href="./home.html">Guess The Kana</a></h1>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./hiragana.html">Hiragana</a></li>
            <li><a href="./katakana.html">Katakana</a></li>
            <li><a href="./about.html">About</a></li>
          </ul>

          <button id="navbar-mobile-button" class="navbar-mobile-button" onclick="navMobileMenuButton()">X</button>
        </div>

        <div id="navbar-mobile" class="navbar-mobile">
          <ul class="navbar-mobile-nav">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./hiragana.html">Hiragana</a></li>
            <li><a href="./katakana.html">Katakana</a></li>
            <li><a href="./about.html">About</a></li>
          </ul>
        </div>
    </nav>

    <main class="main-container">

      <div style="background-color: antiquewhite; padding: .5em">
        <p style="text-align: center; font-size: 1.50rem">
          It's time to practice your kanas, 
          click one of the options down below to 
          start practicing.
        </p>
      </div>

      <div class="div-kana-section">
        <!--Hiragana-->
        <a href="/views/hiragana.html" class="div-kana-section-option ">
          <div class="div-kana-section-hiragana">
            <h2>Hiragana</h2>
          </div>
        </a>
        <!--Katakana-->
        <a href="/views//katakana.html" class="div-kana-section-option ">
          <div class="div-kana-section-katakana">
            <h2>Katakana</h2>
          </div>
        </a>
        <div>
        </div>
      </div>

      <div class="div-home-concepts">
        <div>
          <h2>What is Hiragana and Katakana?</h2>
        </div>

        <div class="div-home-concept-description">
          <p style="background-color: rgb(244, 244, 244); padding: .5em; border-radius: 4px">
            Why do Japanese characters look so different from each other? 
            In fact, Japanese has three different writing systems:
            hiragana, katakana, and kanji.
            <br>
            These are Japanese syllabary, part of the Japanese writing
            system, along with kanji.
            Hiragana and katakana are both kana systems.
            With few exceptions, each mora in the Japanese language
            is represented by one character (or one digraph) in each system.
          </p>
        </div>
      </div>
    </main>

    <!--FOOTER-->
    <footer id="footer" class="footer">
      <div class="footer-container">
        <div class="footer-details">
          <p>GuessTheKana by <a href="https://www.linkedin.com/in/davidcinco/">David Cinco</a></p>
          <div class="footer-details-find">
            <p>Find me</p>
            <div class="footer-details-link">
              <a href="https://www.linkedin.com/in/davidcinco/">
                <img src="../img/LinkedIn_icon.svg.png" alt="">
              </a>
              <a href="https://github.com/DavidCinco">
                <img src="../img/github_icon.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/navbar.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>