<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/katakana/katakana.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/screenQueries.css">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Katakana</title>
</head>
<body>
  <!--bar-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1><a class="navbar-brand" href="./home.html">Guess The Kana</a></h1>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./hiragana.html">Hiragana</a></li>
        <li><a href="./katakana.html">Katakana</a></li>
        <li><a href="./about.html">About</a></li>
      </ul>

      <button id="navbar-mobile-button" class="navbar-mobile-button" onclick="navMobileMenuButton()">X</button>
    </div>

    <div id="navbar-mobile" class="navbar-mobile">
      <ul class="navbar-mobile-nav">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./hiragana.html">Hiragana</a></li>
        <li><a href="./katakana.html">Katakana</a></li>
        <li><a href="./about.html">About</a></li>
      </ul>
    </div>
  </nav>
  
  <h2 style="text-align: center;">Katakana | カタカナ</h2>

  <main class="main-container">
    <button class="katakanaPracticeBtn" onclick="openForm()">Practice</button>

    <table class="tableChart">
      <tr>
        <th></th>
        <th>A</th>
        <th>I</th>
        <th>E</th>
        <th>U</th>
        <th>O</th>  
      </tr>
      <!--vocals-->
      <tr class="tableRowChart tableRowChart-vocals">
        <td></td>
        <td>ア</td>
        <td>イ</td>
        <td>ウ</td>
        <td>エ</td>
        <td>オ</td>
      </tr>
      <!--k-->
      <tr class="tableRowChart tableRowChart-k">
        <td class="tableTd-section">K</td>
        <td>カ</td>
        <td>キ</td>
        <td>ク</td>
        <td>ケ</td>
        <td>コ</td>
      </tr>
      <!--s-->
      <tr class="tableRowChart tableRowChart-s">
        <td class="tableTd-section">S</td>
        <td>サ</td>
        <td>シ</td>
        <td>ス</td>
        <td>セ</td>
        <td>ソ</td>
      </tr>
      <!--t-->
      <tr class="tableRowChart tableRowChart-t">
        <td class="tableTd-section">T</td>
        <td>タ</td>
        <td>チ</td>
        <td>ツ</td>
        <td>テ</td>
        <td>ト</td>
      </tr>
      <!--n-->
      <tr class="tableRowChart tableRowChart-n">
        <td class="tableTd-section">N</td>
        <td>ナ</td>
        <td>ニ</td>
        <td>ヌ</td>
        <td>ネ</td>
        <td>ノ</td>
      </tr>
      <!--h-->
      <tr class="tableRowChart tableRowChart-h">
        <td class="tableTd-section">H</td>
        <td>ハ</td>
        <td>ヒ</td>
        <td>フ</td>
        <td>ヘ</td>
        <td>ホ</td>
      </tr>
      <!--m-->
      <tr class="tableRowChart tableRowChart-m">
        <td class="tableTd-section">M</td>
        <td>マ</td>
        <td>ミ</td>
        <td>ム</td>
        <td>メ</td>
        <td>モ</td>
      </tr>
      <!--y-->
      <tr class="tableRowChart tableRowChart-y">
        <td class="tableTd-section">Y</td>
        <td>ヤ</td>
        <td></td>
        <td>ユ</td>
        <td></td>
        <td>ヨ</td>
      </tr>
      <!--r-->
      <tr class="tableRowChart tableRowChart-r">
        <td class="tableTd-section">R</td>
        <td>ラ</td>
        <td>リ</td>
        <td>ル</td>
        <td>レ</td>
        <td>ロ</td>
      </tr>
      <!--w-->
      <tr class="tableRowChart tableRowChart-w">
        <td class="tableTd-section">W</td>
        <td>ワ</td>
        <td></td>
        <td></td>
        <td></td>
        <td>ヲ</td>
      </tr>
      <!--n-->
      <tr class="tableRowChart tableRowChart-nn">
        <td class="tableTd-section">N</td>
        <td>ン</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </main>

  <!-- FORM hiragana -->
  <div id="form-bg" class="form-bg">
    <form class="form-container" action="">
      <h1 style="text-align: center;">カタカナ</h1>

      <div>
        <div class="form-chart">
          <p></p>
        </div>

        <div class="form-options">
          <label for="option" class="option option-1"></label>
          <input type="radio" name="option" id="option1">

          <label for="option" class="option option-2"></label>
          <input type="radio" name="option" id="option2">

          <label for="option" class="option option-3"></label>
          <input type="radio" name="option" id="option3">
        </div>

        <button type="button">Confirm</button>
      </div>

      <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
    </form>
  </div>

  <!--FOOTER-->
  <footer id="footer" class="footer">
    <div class="footer-container">
      <div class="footer-details">
        <p>GuessTheKana by <a href="https://www.linkedin.com/in/davidcinco/">David Cinco</a></p>
        <div class="footer-details-find">
          <p>Find me</p>
          <div class="footer-details-link">
            <a href="https://www.linkedin.com/in/davidcinco/">
              <img src="../img/LinkedIn_icon.svg.png" alt="">
            </a>
            <a href="https://github.com/DavidCinco">
              <img src="../img/github_icon.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="../js/navbar.js"></script>
  <script type="text/javascript" src="/js/katakana/katakana.js"></script>
</body>
</html>